{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<br/>
<br/>
<h1>{% trans "Appointments" %}</h1>

<form action="" method="POST">
    <button class="btn btn-primary" name="create_apt" value="create_apt" style="float:right;">
        Create an Appointment
    </button>
</form>

{% if appointments %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "patient name" %}</th>
            <th>{% trans "allergies" %}</th>
            <th>{% trans "date" %}</th>
            <th>{% trans "reason" %}</th>
            <th>{% trans "doctor" %}</th>
            <th>{% trans "nurse" %}</th>
            <th>{% trans "hospital" %}</th>
            <th>{% trans "room" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for a in appointments %}
    <tr>
        <td>{{ a.pName }}</td>
        <td>{{ a.pAllergies }}</td>
        <td>{{ a.aptDate }}</td>
        <td>{{ a.reason }}</td>
        <td>{{ a.dName }}</td>
        <td>{{ a.nName }}</td>
        <td>{{ a.hName }}</td>
        <td>{{ a.rNumber }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No appointments." %}</p>
{% endif %}
{% endblock %}