{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<br/>
<br/>
<h1>{% trans "Doctors" %}</h1>

<text> Filter by Practice</text>

{% csrf_token %}
<form action="" method="POST">
    {% csrf_token %}
    <select type="query" class="queryValue" name="queryValue" style="background-color:#E6E6FA; border-color:#E6E6FA; color: black;">
        {% for p in practices %}
            <option value="{{ p }}" > {{p}} </option>
        {% endfor %}
    </select>

    <input type='submit' class="'btn" name="submit_btn" size="40"/>
</form>

{% if doctors %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "dUid" %}</th>
            <th>{% trans "practice" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for d in doctors %}
    <tr>
        <td>{{ d.dName }}</td>
        <td>{{ d.dUid }}</td>
        <td>{{ d.practiceName }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No doctors." %}</p>
{% endif %}
{% endblock %}