{% extends "layout.html" %}


{% block content %}



<br>
<br>
<h1>Patients</h1>
<table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Health Care</th>
            <th>SSN</th>
            <th>Allergies</th>
            <th>Edit</th>
        </tr>
        {% for p in patients %}
                <tr>
                    {% csrf_token %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td>{{ p.pName }}</td>
                        <td>{{ p.pHealthCare }}</td>
                        <td>{{ p.pSSN }}</td>
                        <td>{{ p.pAllergies}}</td>
                        <input type="hidden" name='hiddenUid' value="{{p.pUid}}">
                        <td>
                        <button class="btn btn-info btn-block btn-password" type="query" name="edit_Patient" value= {{p.pUid}} >
                            Edit
                        </button>
                    </form>

                </td>
                </tr>
        {% endfor %}
    </table>




{% endblock %}